.Container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh; /* Mitad del alto del contenedor */
    background-color: #39759E; /* Color azul */
    border-bottom-left-radius: 20px; /* Bordes redondeados */
    border-bottom-right-radius: 20px;
}